.name{
	/* 50 top and bottom 0 left and right */
	padding: 50px 0;
	text-transform: uppercase;
	letter-spacing: .12em;
	text-align: center; 
}
#name{
	/* over ride w !important and target with ids*/
	font-weight: 500 !important;
	font-size: 3em;
}
#title{
	text-transform: lowercase;
	font-weight: lighter;
	font-size: 3em;
}